/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@keyframes gradient-move {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(to right, #ff3300, #7bfcfe, #ff7e5f);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 8s linear infinite;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.gradient-line {
    height: 10px;
    border: none;
    color: #00008B;
    background-color: #00008B;
    background-image: linear-gradient(to right, #ff3300, #7bfcfe, #ff7e5f);
    background-size: 200% auto;
    animation: gradient-move 8s linear infinite;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}